.trending-icon {
  font-size: 35px;
  color: red;
}

.logo-container {
  background-color: #cbd5e1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  height: 60px;
  width: 60px;
}

.content-container {
  height: 100%;
  overflow: auto;
  width: 100%;
}

.content-container-darkMode {
  background-color: #0f0f0f;
  height: 100%;
  overflow: auto;
  width: 100%;
}

.container {
  padding: 30px;
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
}

.container-darkMode {
  padding: 30px;
  background-color: #232121;
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
}

.trending-heading {
  color: #000;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Bree Serif';
  margin-left: 30px;
}

.product-failure-image {
  width: 250px;
  height: 200px;
}

@media (max-width: 768px) {
  .logo-container {
    width: 40px;
    height: 40px;
  }
  .trending-icon {
    font-size: 25px;
  }
}
