.header-logo {
  width: 50%;
}

.sun {
  font-size: 30px;
  color: #fff;
}

.moon {
  font-size: 30px;
}

.theme-button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
}

.profile {
  width: 18%;
  margin-bottom: 6px;
}

.light-logout-button {
  color: #3b82f6;
  font-family: 'Bree Serif';
  outline: none;
  cursor: pointer;
  border: 2px solid #3b82f6;
  background-color: transparent;
  font-size: 18px;
  padding: 2px 12px 3px 12px;
  border-radius: 5px;
  margin-bottom: 6px;
}

.dark-logout-button {
  color: #fff;
  font-family: 'Bree Serif';
  outline: none;
  cursor: pointer;
  border: 2px solid #fff;
  background-color: transparent;
  font-size: 18px;
  padding: 2px 12px 3px 12px;
  border-radius: 5px;
  margin-bottom: 6px;
}

.popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  width: 400px;
  height: 150px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-heading {
  color: #00306e;
  font-family: 'Bree Serif';
  font-size: 19px;
}

.buttons-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.popup-cancel-button {
  color: #909090;
  font-family: 'Bree Serif';
  outline: none;
  cursor: pointer;
  border: 2px solid #909090;
  background-color: transparent;
  font-size: 18px;
  padding: 2px 12px;
  border-radius: 5px;
  margin-right: auto;
}

.popup-logout-button {
  color: #fff;
  font-family: 'Bree Serif';
  outline: none;
  cursor: pointer;
  border: none;
  background-color: #3b82f6;
  font-size: 18px;
  padding: 4px 12px;
  border-radius: 5px;
}

.toggleMenu {
  background-color: gainsboro;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 0px;
}

.toggleButtons {
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-family: 'Bree Serif';
  font-weight: 500;
}

.logout {
  display: block;
}
.logout-icon {
  display: none;
}
.menu-icon {
  display: none;
}
.logout-icon-popup {
  display: none;
}

@media (max-width: 768px) {
  .header-logo {
    width: 37%;
  }
  .profile {
    display: none;
  }
  .sun {
    font-size: 25px;
  }
  .moon {
    font-size: 25px;
  }
  .logout {
    display: none;
  }
  .logout-icon {
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 26px;
    border: none;
    display: block;
  }
  .menu-icon {
    display: block;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 26px;
    border: none;
  }
  .logout-icon-popup {
    display: block;
  }

  .logout-button-popup {
    display: none;
  }
}
