.icon {
  font-size: 25px;
  margin-left: 20px;
  color: #606060;
}
.icon1 {
  font-size: 25px;
  margin-left: 20px;
  color: red;
}

.social-media-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.social-media-logo {
  width: 16%;
}

.link {
  text-decoration: none;
}

.active {
  background-color: #cbd5e1;
}

.div {
  padding: 20px;
}
